entrypoint = "app.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Start Crypto App"

[[workflows.workflow]]
name = "Start Crypto App"
author = 45884113
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
